<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
    
    <div class="content-details">
        <h1>Details</h1>
        <h1>Hello  <%=user.firstName  %> <%=user.lastName %></h1>
        <h1>Your remaining Balance: <%=remainingBalance %> PESOS</h1>
    
       <h2>Transaction ID: <%=transactionId%>
        <h2 style="position: relative;"> Balance:<%=user.balance %> PESOS</h2>
        <h2>Amount of Withdraw: <%=withdraw %> PESOS</h2>
        
    </h2>
    </ul>
    
  
       
     <a href="withdraw">Cancel </a> <a href="success"><button>Confirm</button> </a>

    </div>
   

    
</body>
</html>